<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EgoSara - GOODS</title>
    <link rel="icon" href="/img/Fevicon.png" type="image/png">

    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<script type="text/javascript" src="/js/jquery3.6.0.js"></script>
<script type="text/javascript">
    // 페이지 새로고침
    function refreshPage(){
        location.reload();
    }

    // 찜 버튼을 이미 눌렀는지 확인하기
    $(document).ready(function(){

        let loginId = '[[${session.loginId}]]';
        let gNum = [[${view.gNum}]];

        $.ajax({
            type : "POST",
            url : "checkDIB",
            data : { "dId" : loginId, "dNum" : gNum},
            success : function(data) {
                // 성공
            } ,
            error : function() {
                // 실패
            }
        });
    });

</script>
<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="/index"><img src="img/logo6.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">상품</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/gList?gCate=0">상품목록</a></li>
                                <!-- 업체 로그인 시에만-->
                                <li  th:if="${session.sloginId ne null}" class="nav-item"><a class="nav-link" href="/writeForm">상품등록</a></li>

                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">레시피</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/rList">레시피목록</a></li>
                                <li th:if="${session.loginId ne null}" class="nav-item"><a class="nav-link" href="/rWriteForm">레시피등록</a></li>
                            </ul>
                        </li>
                        <!-- 로그인 했을 때만 마이페이지 뜨도록 -->
                        <li th:if="${session.loginId ne null || session.sloginId ne null}" class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">마이페이지</a>
                            <ul class="dropdown-menu">
                                <!-- 관리자 일때 회원, 업체, 쿠폰 관리 -->
                                <li th:if="${session.sloginId eq 'admin'}" class="nav-item"><a class="nav-link" href="/cList">회원 목록</a></li>
                                <li th:if="${session.sloginId eq 'admin'}" class="nav-item"><a class="nav-link" href="/sList">업체 목록</a></li>

                                <li th:if="${session.sloginId eq 'admin'}" class="nav-item"><a class="nav-link" href="/couList">쿠폰 목록</a></li>
                                <li th:if="${session.sloginId eq 'admin'}" class="nav-item"><a class="nav-link" href="/couWriteForm">쿠폰 등록</a></li>

                                <!-- 회원일때는 회원-내정보 / 업체일때는 업체-내정보 -->
                                <li th:if="${session.sloginId eq null && session.loginId ne null}" class="nav-item"><a class="nav-link" th:href="@{cView(cId=${session.loginId})}">내정보</a></li>
                                <li th:if="${session.loginId eq null && session.sloginId ne null}" class="nav-item"><a class="nav-link" th:href="@{sView(sId=${session.sloginId})}">내정보</a></li>

                                <li class="nav-item"><a class="nav-link" th:href="@{mycouList(cId=${session.loginId})}">쿠폰함</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{getDibList(dId=${session.loginId})}">내찜목록</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{getOrderList(oId=${session.loginId})}">주문내역</a></li>

                                <li th:if="${session.loginId ne null}" class="nav-item"><a class="nav-link" href="/cLogout">로그아웃</a></li>
                                <li th:if="${session.sloginId ne null}" class="nav-item"><a class="nav-link" href="/sLogout">로그아웃</a></li>
                            </ul>
                        </li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">고객센터</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/nList">공지사항 목록</a></li>
                                <li th:if="${session.loginId eq 'admin' || session.sloginId ne null}" class="nav-item"><a class="nav-link" href="/nWriteForm">공지사항 작성</a></li>
                                <li class="nav-item"><a class="nav-link" href="/qList">QnA 목록</a></li>
                                <li th:if="${session.sloginId eq 'admin' || session.loginId ne null}" class="nav-item"><a class="nav-link" href="/qWriteForm">QNA 작성</a></li>

                            </ul>
                        </li>
                    </ul>

                    <!-- 장바구니 이동 -->
                    <ul class="nav-shop">
                        <li class="nav-item">
                            <a th:href="@{bView(bId=${session.loginId})}">
                                <button>
                                    <i class="ti-shopping-cart"> </i>
                                </button>
                            </a>
                        </li>
                        <!--
                            로그인, 회원가입 (아직 미완)
                            <button th:if="${session.loginId eq null && session.sloginId eq null}" onclick="location.href='cJoinForm'">회원가입</button>
                            <button th:if="${session.loginId eq null && session.sloginId eq null}" onclick="location.href='sJoinForm'">업체 회원가입</button>
                        -->
                        <li  class="nav-item" th:if="${session.loginId eq null && session.sloginId eq null}">
                            <a class="button button-header" href="/cLoginForm">LOGIN</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog" style="height: 200px">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>GOODS</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================ 상품 게시글 자세히 보기 시작 부분 =================-->

<form action="bGetGoods" id="bGetGoods" method="post">
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme s_Product_carousel">
                        <div class="single-prd-item">
                            <br/><br/><br/>
                            <img class="img-fluid" th:src="@{/img/goods/{gPhoto}(gPhoto=${view.gPhoto})}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <div>
                            <h3 th:text="${view.gName}"></h3>
                        </div>
                        <div>
                            <h2 th:text="${view.gPrice}"></h2>
                        </div>
                        <br/>
                        <div>
                            <h5>판매자</h5><h5 th:text="${view.gId}"></h5>
                        </div>
                        <br/>
                        <div>
                            <h5>유통기한</h5><h5 th:text="${view.gDate}"></h5>
                        </div>
                        <br/>
                        <div>
                            <h5>남은 수량</h5><h5 th:text="${view.gStock}"></h5>
                        </div>
                        <br/>
                        <div>
                            <h5>상품 내용</h5>
                            <h5 th:text="${view.gContent}"></h5>
                        </div>
                        <br/>
                        <div class="product_count">
                            <label for="buyNo">장바구니에 담을 수량:</label>
                            <select form="bGetGoods" name="buyNo" required="수량을 선택해주세요." >
                                <option th:each="num : ${#numbers.sequence(1,view.gStock)}" th:value="${num}" th:text="${num}"></option>
                            </select>
                            <input type="hidden" name="bId" th:value="${session.loginId}" />
                            <input type="hidden" name="bNum" th:value="${view.gNum}" />
                            <input type="hidden" name="bName" th:value="${view.gName}" />
                            <input type="hidden" name="bPrice" th:value="${view.gPrice}" />
                            <input type="hidden" name="bStock" th:value="${view.gStock}" />
                            <input type="hidden" name="bSelect" th:value="'no'" />
                            <input class="button primary-btn" type="submit" value="장바구니">
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="icon_btn" th:if="${session.result eq 'done'}" th:onclick="xxDIB([[${view.gNum}]], [[${session.loginId}]])">♥</a>
                            <a class="icon_btn" th:if="${session.result ne 'done'}" th:onclick="ooDIB([[${view.gNum}]], [[${session.loginId}]])">♡</a>
                        </div>
                        <div class="text-center" th:if="${session.sloginId eq view.gId || session.loginId eq 'admin'}">
                            <a class="button primary-btn" type="submit" th:href="@{gModiForm(gNum=${view.gNum}, gId=${session.sloginId})}">상품 수정</a>
                            <a class="button primary-btn" type="submit" th:href="@{gDelete(gNum=${view.gNum}, gId=${session.sloginId})}">상품 삭제</a>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="text-center">
                    <h5>Overall</h5>
                    <h4 th:text="${view.gStar}">점</h4>
                </div>
            </div>
            <br/><br/><br/>
            <div class="text-center">
                <a class="button primary-btn" type="submit" th:href="@{gcwriteForm(gNum=${view.gNum}, gcId=${session.loginId})}">상품리뷰쓰러가기</a>
                <a class="button primary-btn" type="submit" th:href="@{gcList(gcNum=${view.gNum})}">리뷰 리스트 보기</a>
            </div>
        </div>
    </div>
</form>
<!--================ 상품 게시글 자세히 보기 끝 부분 =================-->

<!--================ Start footer Area  =================-->
<footer>
    <div class="footer-area footer-only">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets ">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no
                            divided deep moved us lan Gathering thing us land years living.
                        </p>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Quick Links</h4>
                        <ul class="list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Brand</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h4 class="footer_title">Gallery</h4>
                        <ul class="list instafeed d-flex flex-wrap">
                            <li><img src="img/gallery/r1.jpg" alt=""></li>
                            <li><img src="img/gallery/r2.jpg" alt=""></li>
                            <li><img src="img/gallery/r3.jpg" alt=""></li>
                            <li><img src="img/gallery/r5.jpg" alt=""></li>
                            <li><img src="img/gallery/r7.jpg" alt=""></li>
                            <li><img src="img/gallery/r8.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                            </p>
                            <p>123, Main Street, Your City</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                +123 456 7890 <br>
                                +123 456 7890
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                free@infoexample.com <br>
                                www.infoexample.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->



<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
</body>

<script type="text/javascript">
    // 찜 가능일 때 (찜 실행) : ooDIB
    // 상품 번호와 로그인한 회원 아이디를 가져와서, 상품 번호는 기본 값인 0, 찜한 아이디는 로그인한 아이디로 insert하는 메소드
    function ooDIB(gNum, loginId){
        refreshPage();
        $.ajax({
            type : "POST",
            url : "ooDIB",
            data : {
                "dNum" : gNum,
                "dId" : loginId
            },
            success : function(data) {
                // 성공
                refreshPage();
            },
            error : function() {
                // 실패
                alert("ooDIB 통신 실패!");
            }
        });
    }


    // 찜 불가능일 때(찜 해제) : xxDIB
    // 상품 번호와 로그인한 회원 아이디를 가져와서, 해당 데이터 delete하는 메소드
    function xxDIB(gNum, loginId){
        refreshPage();
        $.ajax({
            type : "POST",
            url : "xxDIB",
            data : {
                "dNum" : gNum,
                "dId" : loginId
            },
            success : function(data) {
                // 성공
                refreshPage();
            },
            error : function() {
                // 실패
                alert("xxDIB 통신 실패!");
            }
        });
    }
</script>
</html>