<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="jmj"/>
    <meta name="description" content="EGOSARA 프로젝트 업체 내정보 보기 페이지">
    <title>EGOSARA_업체 내정보 보기</title>
</head>
<body>
<table>
    <caption>회원 상세보기</caption>

    <tr>
        <th>아이디</th>
        <td th:text="${smember.sId}"></td>
    </tr>

    <tr>
        <th>업체명</th>
        <td th:text="${smember.sName}"></td>
    </tr>

    <tr>
        <th>전화번호</th>
        <td th:text="${smember.sPhone}"></td>
    </tr>

    <tr>
        <th>주소</th>
        <td th:text="${smember.sAddr}"></td>
    </tr>

    <tr>
        <th>이메일</th>
        <td th:text="${smember.sEmail}"></td>
    </tr>

    <tr>
        <th>사업자번호</th>
        <td th:text="${smember.sNumber}"></td>
    </tr>

    <tr>

        <!-- sModiForm로 sId값 보내기 -->
        <td><a th:if="${session.sloginId eq smember.sId || session.sloginId eq 'admin'}" th:href="@{sModiForm(sId=${smember.sId})}"><button>수정</button></a></td>

        <!-- sDelete -->
        <td><a th:if="${session.sloginId eq smember.sId || session.sloginId eq 'admin'}" th:href="@{sDelete(sId=${smember.sId})}"><button>탈퇴</button></a></td>
    </tr>

</table>

</body>
</html>